h2.text-center = I18n.t "error_500.main_message"
h3.text-center = I18n.t "error_500.sub_main_message_1"
h4.text-center = I18n.t "error_500.sub_main_message_2"

br

= image_tag "http://clipart.usscouts.org/library/Baden-Powell_Art/brb-10.gif"

br

h3.text-center = I18n.t "error_500.end_message"
.row
  h4.col-sm-4.text-center = link_to I18n.t("error_general.home_page"), root_path
  h4.col-sm-4.text-center = link_to I18n.t("error_general.contacts_page"), bulava_path 
  h4.col-sm-4.text-center = link_to I18n.t("error_general.plast_portal"), "http://www.plast.org.ua"

br
