= set_page_title "#{t('layout.title')} : #{t('error_page')}"

h2.text-center = I18n.t "error_404.main_message"

br

= image_tag "http://clipart.usscouts.org/library/Baden-Powell_Art/brb-03.gif"

br

h3.text-center = I18n.t "error_404.end_message"
.row
  h4.col-sm-4.text-center = link_to I18n.t("error_general.home_page"), root_path
  h4.col-sm-4.text-center = link_to I18n.t("error_general.contacts_page"), bulava_path 
  h4.col-sm-4.text-center = link_to I18n.t("error_general.plast_portal"), "http://www.plast.org.ua"

br
