h2.text-center Чоловіче - затягни свої в'язання!
h4.text-center Наразі через цю річку не пройдеш.

br

= image_tag "http://clipart.usscouts.org/library/Baden-Powell_Sketches/bp_poor_bridge.gif"

br

h3.text-center Якщо ти вже тут ходив, то ввійди у систему!
.row
  h4.col-md-4.text-center = link_to "Navigate to homepage", root_path
  h4.col-md-4.text-center = link_to "Write us a letter", bulava_path 
  h4.col-md-4.text-center = link_to "Visit Plast Portal", "http://www.plast.org.ua"

br
