h3.text-center.content-header = I18n.t "layout.moderator.qualifications_page"

= render partial: "local_tabs", locals: {selected: "approved"}

br/
br/

#approved.tab-pane
  .qualifications-list = render partial: 'qualifications'