h1 = "#{I18n.t("mailer.registration.greeting")}, #{@user.name}!"

h3.text-center = "#{I18n.t("mailer.title.registration")}"
p = "#{I18n.t("mailer.letter_end")},"
p = "#{I18n.t("mailer.development_team")}."