h1 = "Hello, #{@user.name}!"

h3.text-center = "Welcome to the Specplast Technologies."
p = "Sincerely yours,"
p = "Development Team"

p = Rails.application.secrets.email_provider_username
p = ENV["SPECPLAST_GMAIL_USERNAME"]
p = Rails.application.secrets.email_provider_password
p = ENV["SPECPLAST_GMAIL_PASSWORD"]