= set_page_title "#{t('layout.title')} : #{I18n.t('layout.specialization.edit_page')} #{@specialization.name}"

h3.text-center.content-header = I18n.t("layout.specialization.edit_page") + " #{@specialization.name} "

== render 'edit_form'
