= set_page_title "#{t('layout.title')} : #{t('actions.new')} #{t('activerecord.models.specialization')}"

h3.text-center.content-header = "#{I18n.t "actions.new"} #{ I18n.t "activerecord.models.specialization"}"

== render 'form'
