p#notice = notice

= image_tag @specialization.avatar.url(:thumb).to_s if @specialization.avatar
p
  strong Name:
  = @specialization.name

= link_to 'Edit', edit_specialization_path(@specialization)
'|
= link_to 'Back', specializations_path
