h3.text-center.content-header = "#{I18n.t("users.edit_of_user")} #{@user.name}"

.authform == render "form"

javascript:
	$(document).ready(function () {
		var roles = $("input[name='user[role]']:radio");
		var select_div = $(".user_specialization");
		var select = $("#user_specialization_id")[0];
		var actual_specialization = select.options.selectedIndex;
		var submit = $(".edit_user input.btn")[0];

		if (roles[1].checked != true) {
			select_div.hide();
		}

	  roles.change(function () {
	    var role = this.value;
	    switch(role) {
	    	case "moderator":
	     	  select_div.show();
	     	  select.options.selectedIndex = actual_specialization;
	     	  break;
	     	default:
	     	  select_div.hide();
	     	  select.options.selectedIndex = 0;
	    }
	  });

	});

