// Place all the styles related to the specializations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert {
	padding: 25px;
	border: 2px solid;
  border-radius: 25px;
  margin: 10px;
  background-color: #F2DEDE;
	border: solid 1px;
	border-color: #EBCCD1;
}