// Place all the styles related to the vmilists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error {
	background-color: #F2DEDE;
	border: solid 1px;
	border-color: #EBCCD1;
}

.color-green {
	color: green;
}